@charset "utf-8";
/* CSS Document */

* {margin: 8px;
	background: #C6DBDC;
	font-family:Cambria, "Times New Roman";}

header { 
	height: 300px;
	padding: 2px 0px 20px 2px;
}

ul {list-style-type:none;
	padding-left: 5px;}

.dato_de_foto{
	display: flex;
	align-items: flex-end;}

.formacion_academica{
	display: flex;}

.trabajos {
	display: flex;
	flex-wrap: wrap;
	justify-content:space-around;
	align-items: center;}

main {padding: 20px 0px 0px 10px;}

h1{background: #343EF0;
	color: #FFFFFF;
	font-size: 35px;
	font-family: Arial;
	font-weight: bold;
	padding: 5px}

h2, h3 {
	background: #343EF0;
	color: #FFFFFF;
	font-size: 22px;
	font-family: Arial;
	font-weight: bold;
	padding: 5px}

h4 {
	color:#090F7E;}

footer {
	color:#090F7E;
	font-weight: lighter;
	display: flex;
	justify-content: center;}